body {
    font-size: 16px;
    background: url(chemin ) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.Connexion {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#formulaire {
    text-align: center;
}

h3 {
    margin: 0;
    padding: 0;
}

a#Connexion, a#Inscription {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 10px 5px;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
}

a#Connexion:hover, a#Inscription:hover {
    background-color: #333;
    color: #fff;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.boutonLog {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.boutonLog:hover {
    background-color: #555;
}

h1 {
    color: red;
    margin: 10px 0;
}
