body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    /* Fond noir évoquant l'espace */
    color: #fff;/* Texte en blanc */ 
    margin: 0;
    padding: 0;
}

/* Style pour la section "publications" */
#publications {
background-color: #000000;/* Fond sombre évoquant l'univers */
margin: 20px auto;
width: 70%;/* Plus large pour un meilleur affichage */ 
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

#publications .publication {
    border: 1px solid #ccc; /* Bordure grise */
    margin-bottom: 20px; /* Espacement entre les publications */
    padding: 10px; /* Espacement à l'intérieur de la publication */
    border-radius: 5px; /* Bordures arrondies */
}

/* Style pour les titres des publications */ 
#publications h2 {
    text-align: center;
    color: #ffcc00;/* Jaune pour rappeler les étoiles */
}

/* Style pour les paragraphes des publications */ 
#publications p {
    margin: 10px 0;
    color: #ccc;/* Texte en gris clair */
}

/* Style pour les liens dans les publications */ 
#publications .text-lien {
    text-decoration: none;
    color: #00aaff;/* Bleu clair pour les liens */ 
    cursor: pointer;
    font-weight: bold;
}

/* Style pour les liens au survol */ 
#publications .text-lien:hover {
    color: #ff6600;/
}