*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, Helvetica, sans-serif;
  background: #f1f1f1;
}

.utilisateur {
  background-color: #fff;
  padding: 10px ; 
  margin: 10px auto; 
  width: 20%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}